.archive-header {
  margin: $baseline-height * 2 0 $baseline-height;
  padding: 0 $column * 2;

  h2 {
    font-size: 1em;
    line-height: 1.5;
    color: $color-gray-42;
  }
  p {
    font-style: italic;
  }
}

@media all and (min-width: $nine-hundred) {

  .archive-header {
    padding: 0;
    margin: 0 0 $baseline-height * 2;
  }
}