.entry {
  margin: $baseline-height * 2 0 $baseline-height * 3;
}
.more-link {
  @extend %twelve-pixels;
  display: inline-block;
  padding: 8px 20px;
  margin-right: 18px;
  border: solid 1px $color-gray-20;
  transition: all 0.1s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    background: $color-gray-20;
    color: white;
  }
}
.comments-link {
  color: $color-gray-20;
  @extend %twelve-pixels;
  transition: color 0.1s ease-in-out;

  i {
    margin-right: 3px;
  }
  a {

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
      color: $color-gray-20;
    }
  }
}
.full-post {

  .comments-link {
    display: block;
    margin: $baseline-height * 2 0;
  }
}
.blog,
.archive,
.search {

  .post-content {

    // allow comments to sit next to button
    p:last-of-type {
      display: inline-block;
      margin: $baseline-height / 2 0 0;
    }
  }
}
.sticky-status {
  @extend %twelve-pixels;
  display: inline-block;
  background: $color-gray-20;
  color: white;
  padding: 9px $baseline-height;
  margin-bottom: $baseline-height * 1.5;
}
.has-post-thumbnail {

  article {
    position: relative;
  }
  .sticky-status {
    position: absolute;
    top: 0;
    left: 0;
  }
}