.entry {
  margin: $baseline-height * 2 0 $baseline-height * 3;
}
.more-link {
  @extend %twelve-pixels;
  display: inline-block;
  padding: 8px 20px;
  border: solid 1px $color-gray-20;
  transition: all 0.1s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    background: $color-gray-20;
    color: white;
  }
}
.comments-link {
  color: $color-gray-20;
  margin-left: 18px;
  @extend %twelve-pixels;

  i {
    margin-right: 3px;
  }
  a {

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
      color: $color-gray-20;
    }
  }
}
.blog,
.archive,
.search {

  .post-content {

    // allow comments to sit next to button
    p:last-of-type {
      display: inline-block;
      margin: $baseline-height / 2 0 0;
    }
  }
}