.comments {
  padding: 0 $column * 2;
  margin: $baseline-height * 2 0;
}
.comments-number {

  h2 {
    @extend %twenty-one-pixels;
  }
}
.comment-list {
  list-style: none;
  margin: $baseline-height * 2 0;

  ul, ol {
    list-style: none;
  }
  // replies
  .children {
    margin: 0;
    padding: 0 0 0 $baseline-height;
    border-left: solid 1px $color-gray-85;
  }
}
.comment-author {

  img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
    margin-right: $baseline-height / 2;
  }
  span {
    line-height: 48px;
  }
  a {
    font-weight: 700;
  }
}
.bypostauthor {
  padding: $baseline-height;
  outline: solid 3px $color-gray-91;
}
li.comment,
li.pingback {
  margin: $baseline-height * 2 0;
}
.comment-footer {

  a,
  span {
    @extend %twelve-pixels;
  }
  a {
    color: $color-gray-42;

    &:link,
    &:visited {
      color: $color-gray-42;

      &:hover,
      &:active,
      &:focus {
        color: $color-gray-20;
        text-decoration: underline;
      }
    }
  }
}
.comment-reply-link,
.comment-edit-link {
  position: relative;
  margin-left: 18px;

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: -12px;
    height: 100%;
    width: 1px;
    background: $color-gray-85;
  }
}
.comment-pagination {
  margin: $baseline-height * 2 0;

  a {
    font-weight: 700;
  }
  p {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin: 0 -4px 0 0;
  }
  .next-comment {
    text-align: right;
  }
}

@media all and (min-width: $six-hundred) {

  .comments {
    padding: 0;
  }
}

/* Disqus */

@media all and (max-width: 600px) {

  #disqus_thread {
    padding: 0 $column * 2;
  }
}