.comment-respond {
  margin-top: $baseline-height * 2;

  label {
    @extend %twelve-pixels;
    display: block;
    margin-bottom: 6px;
  }
  .comment-form-cookies-consent label {
    display: inline-block;
  }
}
.comment-reply-title {
  @extend h3;
}
#cancel-comment-reply-link {
  @extend %twelve-pixels;
  margin-left: 12px;
}