.site-footer {
  text-align: center;
  padding: $baseline-height * 2 $column * 2 $baseline-height / 2;
  margin-top: $baseline-height * 2;

  span {
    @extend %twelve-pixels;
  }
  a {
    font-weight: 700;

    &:hover,
    &:active,
    &:focus {
      color: $color-gray-42;
    }
  }
}