.site-footer {
  padding: $baseline-height * 2 $column * 2 $baseline-height / 2;

  .design-credit {
    text-align: center;
    margin-top: $baseline-height * 2;

    span {
      @extend %twelve-pixels;
    }
    a {
      font-weight: 700;
    }
  }
}
.scroll-to-top {
  position: fixed;
  bottom: -45px;
  right: 0;
  z-index: 9;
  background: $color-gray-20;
  border: none;
  color: #fff;
  padding: 9px 0;
  width: $column * 1.5;
  min-width: 40px;
  transition: background 0.2s, transform 0.3s;

  &.visible {
    transform: translateY(-45px);
  }
  &:hover {
    cursor: pointer;
    background: $color-gray-42;

    i {
      transform: translateY(-4px);
    }
  }
  i {
    font-size: 21px;
    transition: transform 0.2s;
  }
}

@media all and (min-width: $nine-hundred) {

  .site-footer {
    padding: $baseline-height * 2 0 $baseline-height / 2;
    clear: both;
  }
}