.site-header {
  padding: 0 $column * 2;
  text-align: center;
}
.toggle-navigation {
  font-size: 1em;
  display: block;
  background: none;
  margin: $baseline-height * 1.5 auto $baseline-height * 2;
  padding: 0;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
.title-container {
  margin: $baseline-height * 2 0;
}
.site-title {
  @extend %twenty-eight-pixels;
  font-family: 'Satisfy', 'Open Sans', 'sans-serif';
  margin: 0;
}
.tagline {
  @extend %twelve-pixels;
  margin: 0;
}
.social-media-icons {
  list-style: none;
  margin: $baseline-height * 1.5 0;

  li {
    display: inline-block;
  }
  a {
    color: $color-gray-42;
    margin: 0 8px; // 4px from being inline-block
    transition: color 0.1s ease-in-out;

    &:link,
    &:visited {
      color: $color-gray-42;
    }
    &:hover,
    &:active,
    &:focus {
      color: $color-gray-20;
    }
  }
}

@media all and (min-width: $eight-hundred) {

  .toggle-navigation {
    display: none;
  }
  .title-container {
    margin: $baseline-height * 3 0 $baseline-height * 4;
  }
  .site-title {
    font-size: 2.3125em; /* 37px / 16px */
    line-height: 1.297; /* 48px */
  }
  .social-media-icons {
    display: inline-block;
    float: right;
    margin: 0;

    li:last-child {

      a {
        margin-right: 0;
      }
    }
  }
}

@media all and (min-width: $nine-hundred) {

  .site-header {
    padding: 0;
  }
}
@media all and (min-width: $one-thousand) {

  .site-title {
    font-size: 3.1875em; /* 51px / 16px */
    line-height: 1.176; /* 60px */
  }
  .tagline {
    margin-top: 1em;
  }
}