.menu-primary-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;

  &.open {
    max-height: 999px;
  }
}
.menu-primary {
  margin: $baseline-height * 1.5 0;

  ul {
    list-style: none;
    margin: 0 auto;
  }
  li {
    margin-bottom: $baseline-height;

    &.current-menu-item {
      font-weight: 700;

      a {
        color: $color-gray-20;

        &:link,
        &:visited,
        &:hover,
        &:active,
        &:focus {
          color: $color-gray-20;
        }
      }
      // because the font weight will cascade
      li {
        font-weight: 400;
      }
    }
  }
  a {
    color: $color-gray-42;

    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      color: $color-gray-42;
    }
  }
}
.toggle-dropdown {
  margin: 0 -16px 0 6px;
  padding: 0;
  font-size: 1em;
  line-height: 1;
  background: none;
  border: none;
  color: $color-gray-42;
  transition: transform 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &:after {
    content: '\f107';
    font-family: 'FontAwesome';
  }
}
.menu-primary-items {

  ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;

    li {
      margin: $baseline-height 0;

      // no bottom margin on last one
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  li {

    // open dropdown menu
    &.open {

      > ul {
        max-height: 999px;
      }
      // flip the caret
      > button {
        transform: rotate(180deg);
      }
    }
  }
}

@media all and (min-width: $eight-hundred) {

  .menu-primary-container {
    max-height: none;
    text-align: left;
    margin: $baseline-height * 1.5 0;
    overflow: visible;
  }
  .menu-primary {
    display: inline-block;
    margin: 0;

    li {
      display: inline-block;
      margin: 0 20px 0 0;
    }
    a {
      font-size: 0.75em; /* 12px / 16px */
      line-height: 1.5; /* 18px */
      display: inline-block;

      &:hover,
      &:active,
      &:focus {
        color: $color-gray-20;
      }
      &:focus {
        text-decoration: underline;
      }
    }
  }
  .menu-primary-items {

    ul {
      max-height: none;
      position: absolute;
      z-index: 29;
      visibility: hidden;
      overflow: visible;
      opacity: 0;
      top: 100%;
      top: calc(100% + 18px);
      left: 0;
      backface-visibility: hidden;
      background: white;
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.3);
      padding: 0 $baseline-height $baseline-height / 2;
      transition: all 0.1s ease-in-out;

      &:hover,
      &.focused {
        visibility: visible;
        opacity: 1;
        top: 100%;
        top: calc(100% + 12px);
      }
      li {
        display: block;
        margin: $baseline-height / 2 0;

        &:hover {

          > button {
            transform: translate(2px, 0);
          }
        }
      }
      .toggle-dropdown {

        &:after {
          content: '\f105';
        }
      }
      a {

        &:hover,
        &:active,
        &:focus {

          &:after {
            top: 0;
            height: 36px;
            width: 72px;
            left: 100%;
          }
          + button {
            transform: translate(2px, 0);
          }
          ~ ul {
            top: 0;
          }
        }
      }
      ul {
        left: 100%;
        left: calc(100% + 25px);
        top: 0;

        &:hover,
        &.focused {
          top: 0;
        }
      }
    }
    li {
      position: relative;
      z-index: 9;
      white-space: nowrap;

      &:hover {

        // to keep it down when hovering over submenu
        > button {
          transform: translate(0, 2px);
        }
      }
    }
    a {
      position: relative;
      z-index: 19;

      &:hover,
      &:active,
      &:focus {

        &:after {
          content: '';
          position: absolute;
          top: 100%;
          height: 36px;
          width: 100%;
          left: 0;
        }
        // to move button via hover & keyboard
        + button {
          transform: translate(0, 2px);
        }
        ~ ul {
          visibility: visible;
          opacity: 1;
          top: 100%;
          top: calc(100% + 12px);
        }
      }
    }
  }
  .toggle-dropdown {
    font-size: 0.75em; /* 12px / 16px */
    line-height: 1.5; /* 18px */
    margin: 0 0 0 6px;
  }
}