.featured-image {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;

  > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: white;
      opacity: 0;
      transition: opacity 0.1s ease-in-out;
    }
    &:focus {

      &:after {
        opacity: 0.2;
      }
    }
  }
  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    min-height: 100%; // stretch if it doesn't fill the area
  }
}
.post-container {
  padding: 0 $column * 2;
}
.post-header {
  margin: $baseline-height 0;
}
.post-content {
  margin: $baseline-height 0;

  iframe {
    max-width: 100%;
  }
  &:after {
    @include clearfix;
  }
}
.singular .post-content a {
  text-decoration: underline;
}
.post-title {
 @extend %twenty-one-pixels;
}
.post-date {
 @extend %twelve-pixels;
}
.post-meta {
  margin: $baseline-height * 2 0 $baseline-height;
}
.post-categories {

  a {
    font-weight: 700;
  }
}
.post-tags {

  ul {
    list-style: none;
    margin: 0;
  }
  li {
    display: inline-block;
  }
  a {
    @extend %twelve-pixels;
    display: inline-block;
    padding: 2px 12px;
    background: $color-gray-91;
    margin: 0 8px 12px 0;
    color: $color-gray-42;

    &:link,
    &:visited {
      color: $color-gray-42;
    }
    &:hover,
    &:active,
    &:focus {
      color: white;
      background: $color-gray-20;
    }
  }
}
.further-reading {
  margin: $baseline-height * 1.5 0 0;
  padding: $baseline-height * 1.5 0;
  border-top: solid 1px $color-gray-85;
  border-bottom: solid 1px $color-gray-85;

  .previous {
    margin-bottom: $baseline-height;
  }
  span {
    @extend %twelve-pixels;
    display: block;
  }
  a {
    font-weight: 700;

    &:hover,
    &:active,
    &:focus {
      color: $color-gray-42;
    }
  }
}

@media all and (min-width: $six-hundred) {

  .post-container {
    padding: 0;
  }
  .entry {
    padding: 0 $column * 2;
  }
  .further-reading {

    div {
      display: inline-block;
      vertical-align: top;
      width: 49.5%;
    }
    .previous {
      margin-bottom: 0;
    }
    .next {
      text-align: right;
    }
  }
}

@media all and (min-width: $eight-hundred) {

  .post-title {
    font-size: 1.75em; /* 28px / 16px */
    line-height: 1.321; /* 37px */
  }
}

@media all and (min-width: $nine-hundred) {

  .post-container {
    padding: 0;
  }
  .entry {
    padding: 0;

    &:first-child {
      margin-top: 0;
    }
  }
  .post-title {
    font-size: 2.3125em; /* 37px / 16px */
    line-height: 1.297; /* 48px */
  }
  .singular,
  .error404 {

    .post-header {
      margin: 0 0 $baseline-height * 1.5;
    }
    .featured-image,
    .featured-video {
      margin-bottom: $baseline-height * 1.5;
    }
  }
}