.featured-image {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0;
    opacity: 0;
  }
}
.post-container {
  padding: $baseline-height $column * 2;
}
.post-title {
 @extend %twenty-one-pixels;
}
.post-date {
 @extend %twelve-pixels;
}
.post-meta {
  margin: $baseline-height * 2 0;
}
.post-categories {

  a {
    font-weight: 700;

    &:hover,
    &:active,
    &:focus {
      color: $color-gray-42;
    }
  }
}