.search {

  .sticky-status {
    display: none;
  }
}
.search-box {
  margin: $baseline-height * 2 0 $baseline-height;
  padding: 0 $column * 2;
  clear: both;

  h1 {
    margin-bottom: 12px;
  }
}

@media all and (min-width: $nine-hundred) {

  .search-box {
    margin: 0 0 $baseline-height * 2;
    padding: 0;

    .search-form-container {
      margin-top: $baseline-height;
    }
  }
}