.sidebar-primary {
  margin: $baseline-height * 2 0;
  padding: $baseline-height * 2 $column * 2;
  border-top: solid 1px $color-gray-85;
}

@media all and (min-width: $nine-hundred) {

  .sidebar-primary {
    border: none;
    width: $column * 7.5 * 1.103;
    float: left;
    padding: 0;
    margin: 0 0 0 $column * 1.5 * 1.103;
  }
}