/*===== Variables =====*/
/* Theme Colors */
/* Media Query widths */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
#sub-accordion-section-ct_apex_social_media_icons #customize-control-email-form {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: solid 1px #d5d5d5;
}
#sub-accordion-section-ct_apex_social_media_icons #customize-control-social_icon_custom_1_name,
#sub-accordion-section-ct_apex_social_media_icons #customize-control-social_icon_custom_2_name,
#sub-accordion-section-ct_apex_social_media_icons #customize-control-social_icon_custom_3_name {
  padding-top: 18px;
  margin-top: 18px;
  border-top: solid 1px #d5d5d5;
}

#accordion-section-colors {
  display: none !important;
}

.upgrades-ad a {
  display: block;
  padding: 12px 24px;
  text-align: center;
  color: white;
  text-decoration: none;
  background: #05B0E7;
  -webkit-transition: background 0.2s;
          transition: background 0.2s;
}
.upgrades-ad a:hover {
  background: #3FBEE8;
}
